@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1607043800895'); /* IE9 */
  src: url('iconfont.eot?t=1607043800895#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABrwAAAKQAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBJIElATYCJAMMCwgABCAFhG0HNxvsBcgusG14kxLdDKMUx27xDofImWEpHp7WaO/PzO6JSHJt3u/SHeaJ0kgk6LRAKNotiify/u9cZsw2clh0p0akjmzxJ+1R+tLcwBFKspPAcizU3oTaCTfU1BM8Q2M7Q7GTWfc43mIz4nDatCyQ+UA5rb3PxwRMMMrHGhRZESXEDWMXvMDjBNpN61V0NjodR5UKe1wgnvrUQpWFgKKwdKtQNywt4qVKa3qehryIvh+/aFFJUmX21IsnIy7q/9r6dTovNAtuBQRBAlxdIWMFUog7jYlrSgSjl2hXlHbn14qQlgo3DRIJDFnt/OGRBFGzSzvBAkomvg56gkw5DUVP3SeD2kcYD9i0QVeG1N9V93CrO3my+LTdlaCn2w8Lne4Rs53sL+ay22Bv4ajelq076MH28UKru3toof780pKa9vJhx2B5Qm++uVfR/7m3pinMvZmj2oGBhPDF+DYHnUz2z+RXKcgb6VogePYdRkP/KzsK+Pjv9EhXDCumVWKw8M8JB7YUQ2wbc9EEnsByZeMTbQnI424N29OvMF0zdHep0GooQ9JiClmrGWKhrqDSYQe1Vodot2xsdYcBXIkobViyChB6XSLp9hpZr2diob6iMuwNtd4oQbvLsGWHufCrx8ES4GJ7HvsOyxHXLKrj8ijQfMbieXHESAIP/TBWJaWcHoMc8CVmhDNUE4JgwlkWj4LTIJNhOOAsBY6QPCGCiCyTpjdJDsuiaqc4YBGAC7PNw3wOJocE3YXqyuejAJWXYeEdFXXuJMCF/N4xlUQZQBxT5AZVPMoroRmURhAIjOCYLGwUDAIZGQwWNA9KAQ5B4k2IBSJkpxMZqpC2V2V/IJ/VYE/PkSJHUT/K+57FSu/b+xAC') format('woff2'),
  url('iconfont.woff?t=1607043800895') format('woff'),
  url('iconfont.ttf?t=1607043800895') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1607043800895#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao:before {
  content: "\e61e";
}

.icon-cha-:before {
  content: "\e614";
}

